.document-view {
    border: 1px solid black;
    background-color: white;

    & > .row {
        margin-left: 0;
        margin-right: 0;
    }

    .row.pie > * {
        text-align: right;
        font-weight: bolder;
    }

    .table td,
    .table th {
        vertical-align: middle;
    }
    .table tr.observaciones > td {
        padding-top: 0;
    }

    table.totales td {
        padding-bottom: 0;
    }
}

@media (min-width: 768px) {
    .document-view {
        .row.cabecera > * {
            border: 1px solid #aaa;
            //margin-right: -1px;
            margin-bottom: -1px;
            padding: 4px 10px;
        }
    }
}
