{% extends 'base.html.twig' %}
{% block body %}
  <main class="d-flex flex-column justify-content-center align-items-center" style="min-height:20rem;">

    <h3>Su solicitud ha sido registrada.</h3>
    <p class="mt-4 font-lg">En breve nos pondremos en contacto con usted.</p>
  </main>
{% endblock %}
