{% extends 'base.html.twig' %}
{% block body %}
  <h1 class="font-weight-normal container">Top Compras</h1>
  <main class="container-fluid bg-white">
    {% include 'tools/pagination.html.twig' %}
    {% if articulos is empty %}
      <div class="d-flex justify-content-center align-items-center py-5 my-5">
        <h1>No hay artículos que coincidan con su búsqueda</h1>
      </div>
    {% else %}
      <section class="product-list-container">
        {% for art in articulos %}
          {% include 'articulo/art-minificha.html.twig' %}
        {% endfor %}
      </section>
    {% endif %}
    {% include 'tools/pagination.html.twig' %}
  </main>
{% endblock %}
