<div class="modal-header">
    <h4 class="modal-title" id="redsys-title"><i class="mdi mdi-credit-card-outline mr-2"></i>Pago con tarjeta de crédito</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body px-4">
    <h4 class="text-danger">ERROR: {{ msgError }}</h4>
    <h6 class="p-3">{{ documento  }}</h6>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal"><span class="mdi mdi-close mr-2"></span>Cerrar</button>
</div>
